.site-title { display: none !important; }
.site-header { display: none !important; }

.page-heading {
  text-align: center;
  max-width: 900px;
  margin: 40px auto 10px auto;
  line-height: 1.25;
  font-weight: 600;
  text-wrap: balance;
}

/* Center the subtitle lines */
h3 {
  text-align: center;
  font-weight: normal;
  margin-top: -10px;
}


/* space after the --- separators */
hr {
  margin-top: 50px;
  margin-bottom: 30px;
  border: none;
  border-top: 1px solid #ddd;
}



